
body {
    font-family: "Scope One", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
  }

.logo_svg > svg {
    height: 32px;
    width: 32px;
}

.carrot > svg {
    height: 2em;
    width: 2em;
    fill: currentColor;
}


.product-jumbotron {
    margin-top: 4em;
    background-size: contain;
    opacity: 0.75;
    background-color: rgb(70, 22, 0);
    height: 150px;
}

.product-jumbotron > h2
{
    color: #fafafa;
    text-shadow:1px 1px 2px black;
}

.nutriscore {
    font-size: 1.2em;
}

.score_a span:nth-child(1),.score_b span:nth-child(2),
.score_c span:nth-child(3),.score_d span:nth-child(4),
.score_e span:nth-child(5)
{
    font-size: 1.8em;
    font-weight: bold;
}
