
body {
    font-family: "Scope One", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
  }

.logo_svg > svg {
    height: 32px;
    width: 32px;
}

.carrot > svg {
    height: 2em;
    width: 2em;
    fill: currentColor;
}
