{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="image_header text-center" style="
    background: linear-gradient(to bottom, #5c4d42cc 0%, #5c4d42cc 100%),
      url('{% static 'img/bg-masthead.jpg' %}');
    background-size: cover;">
    <h2 class="text-light">
        Ahoy
    <br>
        {{ username|title }}
    </h2>
</header>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center align-items-center">
                <h4>{{ user_mail }}</h4>
            </div>
        </div>
    </div>
</section>

{% endblock content%}
