{% extends 'simple_layout.html' %}

{% block title %}
  Mentions légales  
{% endblock title %}</h2>

{% block page_content %}

<p>
  Icone
  <a href="https://thenounproject.com/term/carrot/29691/">
    Carrot</a
  >
  par
  <a href="https://thenounproject.com/FabienJ/"> Fabien Jouin</a>
</p>
<p>
  Photo
  <a
    href="https://unsplash.com/photos/k60JspcBwKE?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
  >
    Happiness time</a
  >
  par
  <a
    href="https://unsplash.com/@kawin?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
  >
  Kawin Harasai</a
  >
</p>
<hr class="divider my-4" />
<p>Site hébergé par <a href="https://heroku.com"> Heroku</a></p>
<p>Site développé par <a href="https://github.com/SebGoliot">SebGoliot</a></p>
  
{% endblock page_content %}