{% extends 'base.html' %} {% load static %} {% block content %}

<header class="masthead">
  <div class="container h-100 text-light">
    <div
      class="row h-100 align-items-center justify-content-center text-center"
    >
      <div class="container-titlehead d-flex">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-lg-10 align-self-end">
            <h2 class="text-uppercase font-weight-bold">Mentions légales</h2>
            <hr class="divider my-4" />
          </div>
          <div class="col-lg-10 align-self-baseline">
            <p>
              Icone
              <a href="https://thenounproject.com/term/carrot/29691/">
                Carrot</a
              >
              par
              <a href="https://thenounproject.com/FabienJ/"> Fabien Jouin</a>
            </p>
            <p>
              Photo
              <a
                href="https://unsplash.com/photos/OfdDiqx8Cz8?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
              >
                Cookies</a
              >
              par
              <a
                href="https://unsplash.com/@foodess?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
              >
                Jennifer Pallian</a
              >
            </p>
            <hr class="divider my-4" />
            <p>Site hébergé par <a href="https://heroku.com"> Heroku</a></p>
            <p>Site développé par <a href="https://github.com/SebGoliot">SebGoliot</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

{% endblock %}
