{%load svg%}

<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        
        <a class="navbar-brand js-scroll-trigger logo_svg" href="{% url 'index' %}">{% svg 'logo_pur_beurre' %} Pur Beurre</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0 align-middle">

                <form class="form-inline" action="{% url 'search' %}" method="get">
                    <input class="form-control mr-sm-2" type="search" placeholder="Rechercher un aliment..." aria-label="Recherche" name='query'>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                </form>

                <li class="nav-item my-nav-v-center">
                    <a class="nav-link js-scroll-trigger" href="/account">
                        <i class="far fa-user fa-2x" style="line-height: inherit"></i>
                    </a>
                </li>
                <li class="nav-item my-nav-v-center">
                    <a class="nav-link js-scroll-trigger" href="/my-products">
                        <i class="carrot align-middle">
                            {%svg 'carrot'%}
                        </i>
                    </a>
                </li>
                <li class="nav-item my-nav-v-center">
                    <a class="nav-link js-scroll-trigger" href="/logout">
                        <i class="fas fa-sign-out-alt fa-2x align-middle"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
