<div class="col-lg-4 col-md-6 product-tile">
    <a href="/product/{{ product.code }}">
      <img src="{{ product.image_url }}" alt="{{ product.name }}">
      <h4>{{ product.name }}</h4>
    </a>
    <h3 class="score_letter_{{product.nutriscore}}" >{{ product.nutriscore|title }}</h3>
    <a href="javascript:void(0);" class="bookmark-link" id="{{ product.code }}"
    {% if user.is_authenticated %}
      onclick="bookmark_product({{ product.old_product_code }}, {{ product.code }}, '{{ csrf_token }}');">
    {% else %}
      data-toggle="tooltip" data-placement="top" title="Vous devez être connecté pour faire ça.">
    {% endif %}

      <i class="fas fa-spinner fa-pulse text-primary js-update" style="display: none;"></i>

      <span class="is-bookmark"
        {% if not product.is_bookmark %} style="display: none;" {% endif %}>
        <i class="fas fa-save text-primary"></i>
        Retirer le produit
      </span>

      <span class="is-not-bookmark"
        {% if product.is_bookmark %} style="display: none;" {% endif %}>
        <i class="far fa-save text-primary"></i>
        Sauvegarder le produit
      </span>

    </a>
  </div>
