{% extends 'base.html' %}
{% load static %}
{% block content %}

<header class="masthead">
    <div class="container h-100 text-light">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="container-titlehead d-flex">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
              <h1 class="text-uppercase font-weight-bold">{{form_title}}</h1>
              <hr class="divider my-4">
            </div>
            <div class="col-lg-10 align-self-baseline">
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{form_button}}</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

{% endblock %}
